.b-page-main {
  .b-block {
    @include flexbox();
    background-color: #e2e2e2;

    .b-block-left {
      min-height: 100vh;
      padding: 100px 10px;
      width: 20%;
      background-color: white;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
      .b-group-btn {
        margin-bottom: 10px;
        padding: 0 15px;
        .b-btn {
          display: block;
          width: 200px;
          padding: 8px 10px;
          border: none;
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
          background-color: #1d85fc;
          color: #fff;
          font-weight: 600;
        }
      }
      .b-calender {
        margin-top: 10px;
        img {
          width: 100%;
        }
      }
      .b-rooms {
        margin-top: 30px;
        .b-heading {
          .b-text-title {
            @include rem(font-size, 18);
            font-weight: 700;
          }
        }
        .b-list{
          
          .list-menu{
            padding-left: 50px;
            
            
              .link{
                width: 30px;
                height: 30px;
                background-color: #000;
                
          
            }
          }
        }
      }
    }
    .b-block-right {
      width: 80%;
      padding: 90px 20px;
      
      .b-fullcalender {
        min-height: 100vh;
        background-color: #f8f2f2;
        box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.45);
        border-radius: 0px;
      }
    }
  }
}
