.right-table {
    width: calc(100%-250px);
    padding-top: 20px;
    width: 100%;
    .page-title {

        .title {
            font-weight: 700;
            color: $color_title;
            @include rem("font-size", 18);
            font-family: 'Nunito Sans', sans-serif;
        }
        .b-link {
            color: #2962FF;
            @include rem("font-size", 12);
            font-family: 'Nunito Sans', sans-serif;
        }
        .b-arrow {
            margin: 0 5px;
            color: #6C757D;
            @include rem("font-size", 12);
            font-family: 'Nunito Sans', sans-serif;
        }
    }
    .btn-upgrade {
        text-align: right;

        .link-upgrade {
            border-radius: 2px;
            background: #F62D51;
            padding: 8px 10px;
            color: #FFFFFF;
            @include rem("font-size", 14);
            font-family: 'Nunito Sans', sans-serif;
        }
    }

    .b-card {
        background: #FFFFFF;

        .card-body {
            position: relative;
            margin-top: 20px;
            .card-title {
                color: $color_title;
                @include rem("font-size", 18);
                font-family: 'Nunito Sans', sans-serif;
            }
            .title-table {
                padding: 40px 0 0;
                color: $color_title;
                @include rem("font-size", 14);
                font-family: 'Nunito Sans', sans-serif;
            }
            .card-subtitle {
                color: #A1AAB2;
                @include rem("font-size", 14);
                font-family: 'Nunito Sans', sans-serif;
            }
            .table-responsive {
                padding: 10px 0;
                .table {
                    th {
                        padding: 16px;
                        color: $color_title;
                        @include rem("font-size", 14);
                        font-family: 'Nunito Sans', sans-serif;
                    }
                    td {
                        padding: 16px;
                        color: $color_title;
                        @include rem("font-size", 14);
                        font-family: 'Nunito Sans', sans-serif;
                    }

                }
            }
        }
    }

}
