<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <div class="page-title">
                <h3 class="title">Dashboard</h3>
                <a href="#" class="b-link">Home</a>
                <span class="b-arrow">
                    <i class="fas fa-chevron-right"></i>
                    &nbsp;Library</span>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="btn-upgrade">
                <a href="#" class="link-upgrade">Upgrade to pro</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="header-card">
            <div>
                <h4 class="card-title">Top Selling Products</h4>
            </div>
        </div>
        <div class="add-product">
            <button class="btn-add">ADD</button>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="bg-table">
                        <th scope="col">Product</th>
                        <th scope="col">License</th>
                        <th scope="col">Support Agent</th>
                        <th scope="col">Technology</th>
                        <th scope="col">Tickets</th>
                        <th scope="col">Sales</th>
                        <th scope="col">Earnings</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <div class="product-name">
                                <a href="#" class="link-name user-1">AE</a>
                                <h4 class="b-text">Elite Admin</h4>
                            </div>
                        </td>
                        <td>Single Use</td>
                        <td>John Doe</td>
                        <td>
                            <label class="label label-1">Angular</label>
                        </td>
                        <td>46</td>
                        <td>356</td>
                        <td>
                            <h5 class="price">$2850.06</h5>
                        </td>
                        <td>
                            <button class="btn_edit">Edit</button>
                            <button class="btn_dele">Delete</button>
                        </td>

                    </tr>
                    <tr>
                        <td scope="row">
                            <div class="product-name">
                                <a href="#" class="link-name user-2">MA</a>
                                <h4 class="b-text">Monster Admin</h4>
                            </div>
                        </td>
                        <td>Single Use</td>
                        <td>Venessa Fern
                        </td>
                        <td>
                            <label class="label label-2">Vue Js</label>
                        </td>
                        <td>46</td>
                        <td>356</td>
                        <td>
                            <h5 class="price">$2850.06</h5>
                        </td>
                        <td>
                            <button class="btn_edit">Edit</button>
                            <button class="btn_dele">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <div class="product-name">
                                <a href="#" class="link-name user-3">MP</a>
                                <h4 class="b-text">Material Pro Admin</h4>
                            </div>
                        </td>
                        <td>Single Use</td>
                        <td>John Doe</td>
                        <td>
                            <label class="label label-3">Bootstrap</label>
                        </td>
                        <td>46</td>
                        <td>356</td>
                        <td>
                            <h5 class="price">$2850.06</h5>
                        </td>
                        <td>
                            <button class="btn_edit">Edit</button>
                            <button class="btn_dele">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <div class="product-name">
                                <a href="#" class="link-name user-4">AA</a>
                                <h4 class="b-text">Ample Admin</h4>
                            </div>
                        </td>
                        <td>Single Use</td>
                        <td>John Doe</td>
                        <td>
                            <label class="label label-4">React</label>
                        </td>
                        <td>46</td>
                        <td>356</td>
                        <td>
                            <h5 class="price">$2850.06</h5>
                        </td>
                        <td>
                            <button class="btn_edit">Edit</button>
                            <button class="btn_dele">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>