<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <div class="page-title">
                <h3 class="title">Dashboard</h3>
                <a href="#" class="b-link">Home</a>
                <span class="b-arrow">
                    <i class="fas fa-chevron-right"></i>
                    &nbsp;Library</span>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="btn-upgrade">
                <a href="#" class="link-upgrade">Upgrade to pro</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="header-card">
            <div>
                <h4 class="card-title">Top Selling Products</h4>
            </div>
        </div>
        <div class="add-product">
            <button class="btn-add">ADD</button>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="bg-table">
                        <th scope="col">ID</th>
                        <th scope="col">Content</th>
                        <th scope="col">Id_Room</th>
                        <th scope="col">NameUser</th>
                        <th scope="col">DayStart</th>
                        <th scope="col">TimeStart</th>
                        <th scope="col">TimeEnd</th>
                        <th scope="col">Repeat</th>
                        <th scope="col">Created_at</th>
                        <th scope="col">Update_at</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            5
                        </td>
                        <td>Meeting</td>
                        <td>2</td>
                        <td>
                                ducanh
                        </td>
                        <td>46</td>
                        <td>356</td>
                        <td>
                            <h5 class="price">$2850.06</h5>
                        </td>
                        <td>15/5/2019</td>
                        <td>15/5/2019</td>
                        <td>15/5/2019</td>
                        <td>
                            <button class="btn_edit">Edit</button>
                            <button class="btn_dele">Delete</button>
                        </td>

                    </tr>
                    
                </tbody>
            </table>

        </div>
        <div class="b-pagination">
            <button class="btn-page">
                <i class="fas fa-angle-double-left"></i>
            </button>
            <button class="btn-page">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="btn-page">1</button>
            <button class="btn-page">2</button>
            <button class="btn-page">3</button>
            <button class="btn-page">4</button>
            <button class="btn-page">5</button>
            <button class="btn-page">
                <i class="fas fa-chevron-right"></i>
            </button>
            <button class="btn-page">
                <i class="fas fa-angle-double-right"></i>
            </button>
        </div>
    </div>

</div>