
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="page-title">
                    <h3 class="title">Dashboard</h3>
                    <a href="#" class="b-link">Home</a>
                    <span class="b-arrow">
                        <i class="fas fa-chevron-right"></i>
                        &nbsp;Library</span>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="btn-upgrade">
                    <a href="#" class="link-upgrade">Upgrade to pro</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="b-card">
                    <div class="card-body">
                        <div class="card-user text-center">
                            <img src="../../images/user2.jpg" class="img-user"/>
                            <h3 class="title-name">Hanna Gover</h3>
                            <h6 class="card-subtitle">Accoubts Manager Amix corp</h6>
                            <div class="link-text">
                                <a class="link" href="#">254</a>
                                <a class="link" href="#">54</a>
                            </div>
                        </div>
                       

                    </div>
                    <hr/>
                    <div class="card-body">
                        <small class="text-muted">Email address</small>
                        <h6 class="text">hannagover@gmail.com</h6>
                        <small class="text-muted">Phone</small>
                        <h6 class="text">hannagover@gmail.com</h6>
                        <small class="text-muted">Address</small>
                        <h6 class="text">71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
                        <div class="map-box">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                                width="100%"
                                height="150"
                                frameborder="0"
                                style="border:0"
                                allowfullscreen></iframe>
                        </div>
                        <small class="text-muted p-t-30 db">Social Profile</small>
                        <br/>
                        <button class="btn btn-circle btn-secondary">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                        <button class="btn btn-circle btn-secondary">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button class="btn btn-circle btn-secondary">
                            <i class="fab fa-youtube"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="b-card">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="text-contact">Full Name</label>
                                <input class="form-control" placeholder="Johnathan Doe" type="text"></div>
                                <div class="form-group">
                                    <label class="text-contact">Email</label>
                                    <input class="form-control" placeholder="johnathan@admin.com" type="text"></div>
                                    <div class="form-group">
                                        <label class="text-contact">Password</label>
                                        <input class="form-control" value="password" type="password"></div>
                                        <div class="form-group">
                                            <label class="text-contact">Phone No</label>
                                            <input class="form-control" placeholder="123 456 7890" type="text"></div>
                                            <div class="form-group">
                                                <label class="text-contact">Message</label>
                                                <textarea class="form-control" rows="5"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="text-contact">Select Country</label>
                                                <select class="form-control">
                                                    <option class="city">London</option>
                                                    <option class="city">India</option>
                                                    <option class="city">Vietnam</option>
                                                    <option class="city">Thailan</option>
                                                    <option class="city">Singapore</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-success">Update Profile</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
           