<header class="b-page-header">
    <div class="b-block">
        <div class="b-block-left">
            <div class="b-icon">
                <img src="../../../images/logo-light.svg" alt="Logo" />
            </div>
        </div>
        <div class="b-block-right">
            <div class="b-list-item">
                <li class="b-item">
                    <button class="b-btn"><img src="../../../images/alarm-bell.svg" alt="Bell" /></button>
                </li>
                <li class="b-item">
                    <button class="b-btn"><img src="../../../images/Shape.svg" alt="Shape" /></button>
                </li>
                <li class="b-item b-dropdown">
                    <button class="b-btn"><i class="fas fa-user"></i> Xin Chào, Hau</button>
                </li>
                <li class="b-item ">
                    <button class="b-btn"><i class="fas fa-user"></i> Đăng Nhập</button>
                </li>
            </div>
        </div>
    </div>
</header>