<div class="left-menu">
    <ul class="list-menu">
        <li>
            <div class="user-profile">
                <div class="user-pic">
                    <img class="img-user" src="../../images/user.jpg" alt=""></div>
                <div class="user-content">
                    <a href="#">
                        <h5 class="name-title">User Name &nbsp;<i class="fas fa-sort-down"></i>
                        </h5>
                        <span class="user-email text-muted">user@gmail.com</span>
                    </a>
                </div>
            </div>
        </li>
        <li class="item-btn">
            <a class="btn-create" href="edit.html">
                <i class="fas fa-plus"></i>&nbsp;
                <span class="hide-menu">Create New</span>
            </a>
        </li>
        <li class="item-menu ">
            <a class="item-link active waves-effect waves-dark" href="index.html" target="_self">
                <i class="fas fa-database"></i>
                <span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <li class="item-menu ">
            <a class="item-link waves-effect waves-dark" href="form.html" target="_self">
                <i class="fas fa-users"></i>
                <span class="hide-menu">Profile</span>
            </a>
        </li>
        <li class="item-menu">
            <a class="item-link waves-effect waves-dark" href="table.html">
                <i class="fas fa-table"></i>
                <span class="hide-menu">Table</span>
            </a>
        </li>
        <li class="text-center">
            <a href="add.html" class="link-upgrade">Upgrade to pro</a>
        </li>
    </ul>
</div>
